@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes expand1 {
  from {
    flex: 0.5;
  }
  to {
    flex: 5;
  }
}

.element_1 {
  /* 초기 스타일 설정 */
  flex: 0.5;
  /* 애니메이션 설정 */
  animation-name: expand1;
  animation-duration: 0.7s; /* 애니메이션 지속 시간 */
  animation-timing-function: ease-in; /* 타이밍 함수 (easing) 설정 */
  animation-fill-mode: forwards; /* 애니메이션 완료 후 상태 유지 설정 */
}

@keyframes expand2 {
  from {
    flex: 5;
  }
  to {
    flex: 0.5;
  }
}

.element_2 {
  /* 초기 스타일 설정 */
  flex: 5;
  /* 애니메이션 설정 */
  animation-name: expand2;
  animation-duration: 0.7s; /* 애니메이션 지속 시간 */
  animation-timing-function: ease-in; /* 타이밍 함수 (easing) 설정 */
  animation-fill-mode: forwards; /* 애니메이션 완료 후 상태 유지 설정 */
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* 텍스트를 초기에 숨깁니다. */
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1; /* 애니메이션 끝에 텍스트를 표시합니다. */
  }
}

.moveText {
  opacity: 0;
  /* 텍스트에 대한 애니메이션 설정 */
  animation-name: fadeIn;
  animation-duration: 0.7s; /* 애니메이션 지속 시간 */
  animation-timing-function: ease-in; /* 타이밍 함수 (easing) 설정 */
  animation-fill-mode: forwards; /* 애니메이션 완료 후 상태 유지 설정 */
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  content: "";
  background-color: #e0e0e0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: #3498db;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #e0e0e0;
  transition: 0.4s ease;
}

.circle.active {
  border-color: #3498db;
}

* {
  box-sizing: border-box;
}
